In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# IRIS 데이터 불러오기
## sepal_length, sepal_width, petal_length, petal_width를 기반으로 species를 분류

In [2]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# 데이터 정의

## df에서 값들과 정답을 나눔
### X : 값(data) / y : 정답(target)

In [3]:
X = df.iloc[:, :4]
y = df.iloc[:, -1]

In [14]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [15]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

# training set / test set 나누기

In [4]:
from sklearn.model_selection import train_test_split

## train_test_split : train / test를 분리해주는 함수
### train_test_split(data, target, stratify, random_state)
#### stratify : 이 값을 target으로 지정하면 각 class의 비율을 유지해 줌 (여기서는 붓꽃의 3종을 골고루 분배함)
#### random_state : 세트를 섞을 때 해당 int 값을 보고 섞음, 이 값을 고정해야 매번 데이터 셋의 변경을 방지할 수 있음

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=df.species, random_state=0)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((112, 4), (38, 4), (112,), (38,))

# 분류기 초기화 / 학습

In [6]:
from sklearn.neighbors import KNeighborsClassifier

# 학습 진행

In [7]:
model = KNeighborsClassifier(n_neighbors=1)
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [9]:
from sklearn import metrics

In [11]:
pre = model.predict(X_test)
ac_score = metrics.accuracy_score(y_test, pre)

print('정답률 : {:.2f}%'.format(ac_score*100))

정답률 : 97.37%